body {
    text-align: center;
    background-color: #011627;
    background-image: url(pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
h1 {
    font-size: 60px;
    color: azure;
}

input {
    width: 75px;
    height: 50px;
    font-size: 40px;
    border-radius:10px ;
    margin: 10px;
    color: black;
    background-color: white;
    border-style: none;
}

.btn:hover {
    background-color: darkviolet;
    cursor: pointer;
}

